html,
body {
  margin:  0px auto;
  padding: 0px auto;
  height:100%;
  font-family:Helvetica, Arial, sans-serif;
  font-weight:200;
}
body {
	padding-top:66px;
}
a{
	tap-hightlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
h1,h3,h4 {font-family: 'Rokkitt', serif;}
.col-xs-6, .col-sm-6, .col-md-6 {
	padding-left:0px;
	padding-right:0px;
}
.thumbnail {
	border:none !important;
}
.img-capt {
	border:1px solid #dddddd;
	padding:4px;
	background:#efefef;
	margin-bottom:8px;
}
.content {
  padding-bottom: 60px;
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
.categoriesContainer, .postListWrapper {
  padding: 10px;
}
.postListWrapper a, .postNav a, nav a{
  text-decoration: none !important;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .6 )
                url('loadingWheel.gif')
                50% 50% 
                no-repeat;
}
body.loading {
    overflow: hidden;   
}
body.loading .modal {
    display: block;
}
.navbar-top {
	min-height:65px;
	height:65px;
	padding-top:15px;
	background:url('foodie-logo-l.png') #ffffff no-repeat;
	background-size:75px;
	background-position-x: 50%;
	background-position-y: 99%;
}
.navbar-bottom {
	background:#000;
}
.navbar-header {
  width: 100%;
}
.navbar-btn {
  float: right;
  margin-right: 10px;
}
.navbar-toggle {
	float:left;
	margin-left: 25px;
	border:none;
}
.navbar-brand {
	float:right;
	position:relative;
	margin:0 auto;
}
.loadMore{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
}

/*Search*/
.global-search {
    text-align:center;
    padding:10px;
  }
   .global-search * {
    display:inline-block;
    margin-bottom:0;
  }

   .global-search .form-control {
      width:120px;
  }

   .global-search a {
    display:block;
    padding-top:10px;
  }



@media (min-width:400px){
   .global-search {
    padding: 20px 0;
    text-align:center;
    }

   .global-search .form-control {
    width:300px;
   }
}


.navbar-toggle {
  display: block;
  float: left;
}

.search:hover {
  cursor: pointer;
}

/*------------ side menu  ---------------*/
body {
    overflow-x: hidden
}
nav.push-menu-right li {
	text-align:left !important;
}
#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section {
    margin-bottom: 30px
}
section h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 30px
}
section p:last-child {
    margin-bottom: 0
}
section:last-child {
    margin-bottom: 0
}
section.toggle {
    text-align: center
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}


nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #777777; /*#67b5d1;*/
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    background-color: #ddd; /*#3184a1;*/
    color: #fff;
}
button.close-menu:focus {
    outline: none
}

nav.push-menu-right {
    top: 50;
    width: 300px;
    height: 100%;
}
nav.push-menu-right li {
    display: block;
    text-align: center;
    border-bottom: solid 1px #777777; /*#3184a1;*/
    border-top: solid 1px #AAAAAA; /*#b5dbe9;*/
}
nav.push-menu-right li:first-child {
    border-top: none
}
nav.push-menu-right li:last-child {
    border-bottom: none
}
nav.push-menu-right a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.push-menu-right button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}
nav.push-menu-right {
    right: -300px
}
body.pmr-open nav.push-menu-right {
    right: 0
}
body.pmr-open #wrapper {
    left: -300px
}

/*----------- footer -------------- */
     /* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 30px;
  padding-top: 6px;
}
#footer {
  margin-left: -4px;
  margin-right: -4px;
  background-color: #FFFFFF;
  border-top:1px solid #eeeeee;
}