﻿<div class="form-inline global-search" role="form" style="display:none">
  <div class="form-group">
    <label class="sr-only" for="">Search</label>
    <input type="search" class="form-control" id="k" name="k" placeholder="Search post">
    <input id="cn" name="cn" type="hidden" value="false">
  </div>
  <button type="submit" id="s" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span>
  </button> 
</div>