<% if(!data.length){ %>
<div class="row">
  <h3>Sorry there are no posts.</h3>
</div>
<% } %>

<div class="postListWrapper">
  <% _.each(data, function(row){ %>
  <div class="row">
    <% _.each(row, function(post){ %> 
    <div class="col-xs-6 col-sm-6 col-md-6">
      <a href="#post/<%=post.ID%>">
      <div class="thumbnail">
        <img src="<%=post.featured_image%>" alt="<%=post.title%>">
        <div class="caption">
          <h4><%=post.title%></h4>
        </div>
      </div>
      </a>
    </div>
    <% }) %>
  </div>
  <% }) %>
</div>
<%if(Backbone.AppData.PostsLoaded < Backbone.AppData.PostsInCategory){%>
  <input class="btn btn-lg btn-default loadMore" type="button" value="Load More"/>
<%}%>